@import './mixin'

body
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  font-weight: bold
  overflow-x: hidden
  -webkit-user-select: none
  margin: 0
  padding: 0
  color: #000
  background: #FFF

* 
  -webkit-tap-highlight-color: rgba(0,0,0,0)

body.stage 
  > header
    ios-header()

  > article
    bottom: 49px

  > footer

    //background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0))), #000
    background: -webkit-linear-gradient(top, #1C1C1C 0%, #1C1C1C 2%, #575757 2%, #303030 5%, #141414 51%, black 51%, black 100%)

  // Tabbar
  > footer
    height: 49px
    -webkit-box-pack: justify
    display: -webkit-box

    .nav-item
      margin-top: 3px
      -webkit-box-flex: 1
      color: #999
      border-radius: 4px

      .nav-label
        font-weight: bold
        font-size: 10px
        text-align: center

      .icon
        display: block
        width: 30px
        height: 30px
        margin: 0 auto
        //background: red
        -webkit-mask-image: url(images/tabbar-icons.png)
        -webkit-mask-size: 90px 30px
        -webkit-mask-repeat: no-repeat
        //background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.296875) 25%, rgba(255, 255, 255, 0) 75%)
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, .4) 75%)
        //background: white

        &.contacts
          -webkit-mask-position: -30px 0

        &.account
          -webkit-mask-position: -60px 0

    .active.nav-item
      color: #FFF
      background: rgba(255,255,255,0.13)

      .icon
        background-image: -webkit-linear-gradient(276deg, white 0%, #7DB9EE 52%, rgba(125, 185, 238, 0) 52%), -webkit-linear-gradient(top, #0429E4 0%, #40CEFB 100%)

tabbar-image($image, $size= 30px 30px, $position= 50% 0%)
  .icon
    -webkit-mask-image: image-url($image)
    -webkit-mask-size: $size
    -webkit-mask-position: $position

.panel
  > header
    height: headerSize
    line-height: headerSize
    border-bottom: 1px solid black !important

    h2
      ios-header-text()
    
    button
      position: absolute
      left: 0
      top: 0
      ios-button()

.button
  ios-button()

.list
  // overflow: auto
  // -webkit-overflow-scrolling: touch

.list .item
  padding: 0 15px
  height: 50px
  line-height: 50px
  
  border-top: 1px solid #989ea4
  color: #292D39
  text-shadow: 0 1px 0 white
  background: #F6F6F7
  //background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.5, rgba(255, 255, 255, 0.4)), color-stop(0.5, rgba(255, 255, 255, 0))), #F6F6F7
  
  img
    float: right
    max-width: 30px
    max-height: 30px
    display: inline-block
    margin: 10px 0

  &:active
    background: #F6F6F7
    inset-box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.1))

form
  margin: 10px
  // Commented for account edit form
  //background: #FFF
  //border: 1px solid #aeaeae
  //border-radius(10px)
  //box-shadow(0, 1px 1px, rgba(0, 0, 0, 0.1))

label
  display: block
  border-bottom: 1px solid #aeaeae
  font-size: 13px
  padding: 15px
  
  &:last-child
    border-bottom: none
    
  span::after
    content: ':'

select, input[type=text],
input[type=tel], input[type=email],
input[type=url], input[type=date]
  color: inherit
  font-size: inherit
  font-weight: inherit
  // Commented for account edit form
  //display: block
  //width: 100%
  //font-size: 15px
  //margin: 5px 0 0 0
  //border-box()
  border: none
  outline:none
  width: 100%
  height: lineHeight
  background:transparent

.hide
  display:none

#loading
  ios-header()
  ios-header-text()
  line-height:headerSize*.95
  position: fixed
  top: -(headerSize)
  left:0
  right:0
  opacity:0
  -webkit-transition: all 0.25s linear
  transition: all 0.25s linear
  z-index:100

  &.loading
    opacity:1
    top:0