@import './mixin'

body
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  overflow-x: hidden
  -webkit-user-select: none
  margin: 0
  padding: 0
  color: #000
  background: #FFF

* 
  -webkit-tap-highlight-color: rgba(0,0,0,0)

body.stage 
  > header
    ios-header()

  > article
    bottom: tabbarSize

  > footer

    //background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(255, 255, 255, 0))), #000
    background-color: black
    background: -webkit-linear-gradient(top, #1C1C1C 0%, #1C1C1C 2%, #575757 2%, #303030 5%, #141414 51%, black 51%, black 100%)

  // Tabbar
  > footer
    height: tabbarSize
    -webkit-box-pack: justify
    display: -webkit-box

    .nav-item
      margin-top: 3px
      -webkit-box-flex: 1
      color: #999
      border-radius: 4px

      .nav-label
        font-weight: bold
        font-size: 10px
        text-align: center

      .icon
        display: block
        width: 30px
        height: 30px
        margin: 0 auto
        background: url(images/tabbar-icons.png)
        background-size: 90px 60px

        &.explore
          background-position: 0 0 !important

        &.contacts
          background-position: -30px 0 !important

        &.account
          background-position: -60px 0 !important

    .active.nav-item
      color: #FFF
      background: rgba(255,255,255,0.13)

      .icon
        &.explore
          background-position: 0 30px !important

        &.contacts
          background-position: -30px 30px !important

        &.account
          background-position: -60px 30px !important

body.stage.loggedout
  footer
    display: none !important
  >article
    bottom: 0

.overthrow-enabled .overthrow
    overflow: auto
    -webkit-overflow-scrolling: touch

.panel
  > header
    height: headerSize
    line-height: headerSize
    border-bottom: 1px solid black !important

    h2
      ios-header-text()
    
    button
      position: absolute
      left: 0
      top: 0
      ios-button()

.button
  ios-button()

  &.blue
    background-color: #325FD1

  &.red
    background-color: #bd1520

  &.back, &.back:active
    background: none
    border: none
    -webkit-box-shadow: none
    -webkit-border-image: url(images/back.png) 1 10 2 18
    border-width: 0px 8px 0px 15px

  &.disabled
    color: c7ccd3
    background-color: rgba(74,108,155,1)

.list
  // overflow: auto
  // -webkit-overflow-scrolling: touch

.list .item
  padding: 0 15px
  height: 50px
  line-height: 50px
  
  border-bottom: 1px solid #e0e0e0
  color: #292D39
  text-shadow: 0 1px 0 white
  background: #fff

  &.active
    color: white
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#058cf5), color-stop(50%,#0375ed), color-stop(58%,#036fec), color-stop(100%,#015ee6)); /* Chrome,Safari4+ */


  img
    float: right
    max-width: 30px
    max-height: 30px
    display: inline-block
    margin: 10px 0

form
  margin: 10px
  // Commented for account edit form
  //background: #FFF
  //border: 1px solid #aeaeae
  //border-radius(10px)
  //box-shadow(0, 1px 1px, rgba(0, 0, 0, 0.1))

label
  display: block
  border-bottom: 1px solid #aeaeae
  font-size: 13px
  padding: 15px
  
  &:last-child
    border-bottom: none
    
  span::after
    content: ':'

select, input[type=text], input[type=password],
input[type=tel], input[type=email],
input[type=url], input[type=date]
  color: inherit
  font-size: inherit
  font-weight: inherit
  // Commented for account edit form
  //display: block
  //width: 100%
  //font-size: 15px
  //margin: 5px 0 0 0
  //border-box()
  border: none
  outline:none
  width: 100%
  height: lineHeight
  background:transparent

.hide
  display:none

#loading
  position: fixed;
  top: 39px;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 100
  background-color:#3290d3

  -webkit-animation:move 2s linear infinite
  -moz-animation:move 2s linear infinite
  -ms-animation:move 2s linear infinite
  animation:move 2s linear infinite
  overflow: hidden

@keyframes move
  0% {width: 0}
  100% {width: 100%}

.notifications
  height:40px
  line-height:40px
  font-weight:normal
  background: #383838
  color: #fff
  text-align:center
  top:auto
  right:0
  left:0
  bottom:0
  -webkit-transition: all 0.2s linear
  transition: all 0.2s linear
