@import './mixin'

body
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  font-weight: bold
  overflow-x: hidden
  -webkit-user-select: none
  margin: 0
  padding: 0
  color: #292D39
  background: #FFF

* 
  -webkit-tap-highlight-color: rgba(0,0,0,0)

@import './users/show'
@import './users/form'
