node_modules
development

# Trigger.io
release
.template
local_config.json
.lib

# hem build in /public
public/application.js
public/application.css

# Private scripts
upload-testflight.bash
staging-upload-testflight.bash