.editView
  .list-label
    border-right: 1px solid

  .list-item.transparent
    .list-label
      border-right: none

    .list-data
       background: #fff
       border-radius: 8px
       line-height: lineHeight

