.editView
  font-weight: bold
    
  .list-item
    clear:left
    min-height:42px

    &:after
      content: "."
      display: block
      height: 0
      clear: both
      visibility: hidden

  .list-label
    float:left;
    padding-right:0
    line-height:43px

  .list-data
    display:block
    padding-left:10px
    border-left:1px solid #ccc
    
    input
      display:block
      width: 100%
      margin:0
      padding:0

    select
      max-width:150px

    .separator
      margin-left:-10px
      display:block
      padding-left:10px

      &+.separator
        border-top: 1px solid #ccc

  .list-item.transparent
    .list-label
      border-right: none

    .list-data
      background: #fff
      border-radius: 8px
      line-height: lineHeight
      border: 1px solid #A9ACAF
