.friends_list.empty
  > article
    background: lightGrayBg
    color: #404040
    text-shadow: 0 1px #fff
    text-align: center
    line-height: 27px

    .steps
      margin: 0 auto

    .bullet
      width: 30px
      height: 30px
      background: #067879
      color: #fff
      float: left
      border-radius: 15px
      margin-right: 10px

    .text-wrapper
      overflow: auto
      width: 250px
      margin: 0 auto

    .text
      float: left
      text-align: left
      max-width: 210px

    .icon
      background: url(images/tabbar-icons.png)
      background-size: 90px 60px
      width: 30px;
      height: 30px;
      margin: 30px auto 10px
      clear: left

      &.explore
        background-position: 0 0 !important

      &.contacts
        background-position: -30px 0 !important
