.friends_list
  > article
    background: lightGrayBg
    color: #404040
    text-shadow: 0 1px #fff
    text-align: center
    line-height: 27px
    padding: 0 35px

  .steps
    margin: 0 auto

  .bullet
    width: 30px
    height: 30px
    background: #067879
    color: #fff
    float: left
    border-radius: 15px
    margin-right: 10px

  .text-wrapper
    overflow: auto

  .text
    float: left
    text-align: left
    max-width: 210px

  .icon
    -webkit-mask-image: url(images/tabbar-icons.png)
    -webkit-mask-size: 90px 30px
    -webkit-mask-repeat: no-repeat
    width: 30px;
    height: 30px;
    background: #999
    margin: 30px auto 10px
    clear: left

    &.explore
      -webkit-mask-position: 0 0 !important

    &.contacts
      -webkit-mask-position: -30px 0 !important
