// Styling for users lists, more specifically FoundFriendsList
.users.list
  h3
    background: #8D9DAA
    box-shadow: 0 -1px 0 #78858E
    border-top: 1px solid rgba(255, 255, 255, 0.5)
    text-shadow: 0 1px 1px rgba(100, 100, 100, 0.8)
    color: white
    font-size: 13px
    margin: 0

  .item
    .details>div
      //display: inline-block
      float: left
      height: 50px
      line-height: 50px
    .name
      padding-left: 10px
    .status
      font-size: 10px
      float: right

    .actions
      float: right
