.please_login
  header
    display: none !important

  > article
    color: #404040
    text-shadow: 0 1px #fff
    text-align: center
    image: 'images/connect-bg.jpg'
    background-position: 50% 0
    background-size: 100% 100% !important
    border-bottom: 4px solid #0b8886
    padding-top: 25px
    text-transform: uppercase

    h1
      background: transparent
      image: 'images/logo.png' 163px 78px
      width: 163px
      height: 78px
      margin: 0px auto

    h2
      color: white
      font-weight: lighter
      text-shadow: 0px 1px 3px #020202
      font-size: 15px
      margin: 30px 0 10px 0

    .signup, .login
      width: 238px
      height: 46px
      margin: 0

    .login
      background-color: #dcdfe0
      color: #8a9397
      text-shadow: 0 1px 0 white



    .gmail
      background: transparent
      image: 'images/login-button.png' 238px 94px
      width: 238px
      height: 46px
      border: none
      margin: 0 auto

      &:hover, &:active
        background-position: 0 -47px

      span
        display: none
