.please_login 
	> article
		background: #013739 url(images/connect-bg.jpg) 
		text-align: center

		h1
			background: transparent url(images/logo.png)
			width: 325px
			height: 155px
			margin: 90px auto 40px auto
			text-indent: -999px

		h2 
			color: white
			font-weight: lighter
			text-shadow: 0px 1px 3px #020202
			font-size: 30px
			margin-bottom: 90px

		.desc
			color: #001b1c
			text-shadow: 0px 1px 2px #568B92
			font-weight: normal
			font-size: 20px
			margin: 20px auto 0 auto
			width: 400px

		.login-button
			background: transparent url(/images/login-button.png)
			width: 475px
			height: 94px
			border: none
			margin: 0 auto

			&:hover
				background-position: 0 -94px

			span
				display: none