
.thumb
  border-radius: 2px

.list-group
  margin: 15px 0
  text-shadow: 0 1px 0 rgba(255,255,255,0.5)

  .list-item
    background: #fff
    margin: 0 12px 0
    border-bottom: 1px solid borderColorList
    border-right: 1px solid borderColorList
    border-left: 1px solid borderColorList
    font-size: 14px

    &:first-child
      border-top: 1px solid borderColorList
      border-top-right-radius: 8px
      border-top-left-radius: 8px

    &:last-child
      border-bottom-right-radius: 8px
      border-bottom-left-radius: 8px

    &:after
      content: ""
      display: table
      clear: both

    &.transparent
      border: none
      background: transparent

      .list-data, .list-label
        line-height: inherit

    .list-label
      min-height: lineHeight
      line-height: lineHeight
      float:left
      font-size:13px
      color: #516691
      font-weight:normal
      width:75px
      padding-right:10px;
      text-align:right

    .list-data
      margin-left:85px
      min-height: lineHeight
      line-height: lineHeight

      a
        text-decoration: none
        color: inherit

.showView
  font-weight: bold

  h2, p
    margin: 0

.showView .thumb-list.list-group
  .list-label
    text-align: left
    display: inline-block
    text-align: right
    font-size: 14px
    font-weight: bold
    padding: 0 10px 0 10px
    width: 63px
    vertical-align: top

    .thumb
      border: 1px solid #999

  .list-data
    font-weight: normal
    display: inline-block
    width: 170px
    font-size: 14px
    font-weight: bold
    margin-left:0

.showView.panel > article, .editView > article
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(71.429%, #C5CCD4), color-stop(71.429%, #CBD2D8), color-stop(100%, #CBD2D8))
  background-size: 7px 512px
  padding-top: 12px

