body,
html {
  height: 100%;
}
.viewport {
  position: relative;
}
.viewport > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.viewport > *:not(.active) {
  display: none;
}
body.stage > header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
body.stage > article {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body.stage > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.panel {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}
.panel > article {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.panel:not(.active) {
  display: none;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body.stage > header {
  height: 42px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), color-stop(0.5, rgba(255,255,255,0.1)), color-stop(0.5, rgba(255,255,255,0))), -webkit-gradient(linear, left top, left bottom, from(#7189a6), to(#6a83a1));
}
body.stage > article {
  bottom: 49px;
}
body.stage > footer {
  background-color: #000;
  background: -webkit-linear-gradient(top, #1c1c1c 0%, #1c1c1c 2%, #575757 2%, #303030 5%, #141414 51%, #000 51%, #000 100%);
}
body.stage > footer {
  height: 49px;
  -webkit-box-pack: justify;
  display: -webkit-box;
}
body.stage > footer .nav-item {
  margin-top: 3px;
  -webkit-box-flex: 1;
  color: #999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
body.stage > footer .nav-item .nav-label {
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}
body.stage > footer .nav-item .icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url("images/tabbar-icons.png");
  background-size: 90px 60px;
}
body.stage > footer .nav-item .icon.explore {
  background-position: 0 0 !important;
}
body.stage > footer .nav-item .icon.contacts {
  background-position: -30px 0 !important;
}
body.stage > footer .nav-item .icon.account {
  background-position: -60px 0 !important;
}
body.stage > footer .active.nav-item {
  color: #fff;
  background: rgba(255,255,255,0.13);
}
body.stage > footer .active.nav-item .icon.explore {
  background-position: 0 30px !important;
}
body.stage > footer .active.nav-item .icon.contacts {
  background-position: -30px 30px !important;
}
body.stage > footer .active.nav-item .icon.account {
  background-position: -60px 30px !important;
}
body.stage.loggedout footer {
  display: none !important;
}
body.stage.loggedout >article {
  bottom: 0;
}
.overthrow-enabled .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.panel > header {
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #000 !important;
}
.panel > header h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fffeff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-weight: normal;
}
.panel > header button {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-size: 13px;
  font-weight: 700;
  background-repeat: repeat-x;
  background-color: #4a6c9b;
/*change this and the background color for the :before element*/
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.3) 100%);
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3), inset 0 1px 1px 0 rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.4);
  margin: 6px;
  height: 30px;
  min-width: 60px;
  padding: 0 10px 0 8px;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.panel > header button:active {
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3), inset 0 1px 1px 0 rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.4), inset 0 0 20px rgba(255,255,255,0.2);
}
.panel > header button.right {
  left: auto;
  right: 0;
}
.panel > header button.disabled {
  opacity: 0.7;
}
.button {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-size: 13px;
  font-weight: 700;
  background-repeat: repeat-x;
  background-color: #4a6c9b;
/*change this and the background color for the :before element*/
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.3) 100%);
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3), inset 0 1px 1px 0 rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.4);
  margin: 6px;
  height: 30px;
  min-width: 60px;
  padding: 0 10px 0 8px;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.button:active {
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3), inset 0 1px 1px 0 rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.4), inset 0 0 20px rgba(255,255,255,0.2);
}
.button.right {
  left: auto;
  right: 0;
}
.button.disabled {
  opacity: 0.7;
}
.button.blue {
  background-color: #325fd1;
}
.button.red {
  background-color: #bd1520;
}
.button.back,
.button.back:active {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -webkit-border-image: url("images/back.png") 1 10 2 18;
  border-width: 0px 8px 0px 15px;
}
.button.disabled {
  color: c7ccd3;
  background-color: #4a6c9b;
}
.list .item {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #e0e0e0;
  color: #292d39;
  text-shadow: 0 1px 0 #fff;
  background: #fff;
}
.list .item.active {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #058cf5), color-stop(50%, #0375ed), color-stop(58%, #036fec), color-stop(100%, #015ee6));
/* Chrome,Safari4+ */
}
.list .item img {
  float: right;
  max-width: 30px;
  max-height: 30px;
  display: inline-block;
  margin: 10px 0;
}
form {
  margin: 10px;
}
label {
  display: block;
  border-bottom: 1px solid #aeaeae;
  font-size: 13px;
  padding: 15px;
}
label:last-child {
  border-bottom: none;
}
label span::after {
  content: ':';
}
select,
input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=url],
input[type=date] {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  width: 100%;
  height: 42px;
  background: transparent;
}
.hide {
  display: none;
}
#loading {
  position: fixed;
  top: 39px;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 100;
  background-color: #3290d3;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -ms-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
  overflow: hidden;
}
.notifications {
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  background: #383838;
  color: #fff;
  text-align: center;
  top: auto;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.notifications .warn {
  background: #f00;
  color: #fff;
}
@-moz-keyframes move {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
@-webkit-keyframes move {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
@-o-keyframes move {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
@-ms-keyframes move {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
@keyframes move {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.thumb {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.list-group {
  margin: 15px 0;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.list-group .list-item {
  background: #fff;
  margin: 0 12px 0;
  border-bottom: 1px solid #a9acaf;
  border-right: 1px solid #a9acaf;
  border-left: 1px solid #a9acaf;
  font-size: 14px;
}
.list-group .list-item:first-child {
  border-top: 1px solid #a9acaf;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.list-group .list-item:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.list-group .list-item:after {
  content: "";
  display: table;
  clear: both;
}
.list-group .list-item.transparent {
  border: none;
  background: transparent;
}
.list-group .list-item.transparent .list-data,
.list-group .list-item.transparent .list-label {
  line-height: inherit;
}
.list-group .list-item .list-label {
  min-height: 42px;
  line-height: 42px;
  float: left;
  font-size: 13px;
  color: #516691;
  font-weight: normal;
  width: 75px;
  padding-right: 10px;
  text-align: right;
}
.list-group .list-item .list-data {
  margin-left: 85px;
  line-height: 42px;
}
.list-group .list-item .list-data.multiline {
  line-height: 24px;
  margin: 10px 33px;
}
.list-group .list-item .list-data a {
  text-decoration: none;
  color: inherit;
}
.showView {
  font-weight: bold;
}
.showView h2,
.showView p {
  margin: 0;
}
.showView .thumb-list.list-group .list-label {
  text-align: left;
  display: inline-block;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px 0 10px;
  width: 63px;
  vertical-align: top;
}
.showView .thumb-list.list-group .list-label .thumb {
  border: 1px solid #999;
}
.showView .thumb-list.list-group .list-data {
  font-weight: normal;
  display: inline-block;
  width: 170px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0;
}
.showView.panel > article,
.editView > article {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(71.429%, #c5ccd4), color-stop(71.429%, #cbd2d8), color-stop(100%, #cbd2d8));
  background-size: 7px 512px;
  padding-top: 12px;
}
.editView {
  font-weight: bold;
}
.editView .list-item {
  clear: left;
  min-height: 42px;
}
.editView .list-item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.editView .list-label {
  float: left;
  padding-right: 0;
  line-height: 43px;
}
.editView .list-data {
  display: block;
  padding-left: 10px;
  border-left: 1px solid #ccc;
}
.editView .list-data input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
.editView .list-data select {
  max-width: 150px;
}
.editView .list-data .separator {
  margin-left: -10px;
  display: block;
  padding-left: 10px;
}
.editView .list-data .separator+.separator {
  border-top: 1px solid #ccc;
}
.editView .list-item.transparent .list-label {
  border-right: none;
}
.editView .list-item.transparent .list-data {
  background: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  line-height: 42px;
  border: 1px solid #a9acaf;
}
.users.list h3 {
  background: #8d9daa;
  border-top: 1px solid #717d85;
  background: #92a0ab;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92a0ab), color-stop(100%, #b6bec5));
  background: -webkit-linear-gradient(top, #92a0ab 0%, #b6bec5 100%);
  background: linear-gradient(to bottom, #92a0ab 0%, #b6bec5 100%);
  -moz-box-shadow: inset 0 1px 0 #a1adb6;
  -webkit-box-shadow: inset 0 1px 0 #a1adb6;
  box-shadow: inset 0 1px 0 #a1adb6;
  text-shadow: 0 1px 1px rgba(100,100,100,0.8);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 4px 12px;
}
.users.list .item .details>div {
  float: left;
  height: 50px;
  line-height: 50px;
}
.users.list .item .name {
  padding-left: 10px;
  font-weight: normal;
}
.users.list .item .status {
  font-size: 10px;
  float: right;
}
.users.list .item .actions {
  float: right;
}
.users.listView .search-field {
  padding: 5px;
  background: #d6dde2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d6dde2), color-stop(100%, #b1bbc3));
  background: -webkit-linear-gradient(top, #d6dde2 0%, #b1bbc3 100%);
  background: linear-gradient(to bottom, #d6dde2 0%, #b1bbc3 100%);
  -moz-box-shadow: inset 0 1px 0 #e3e9ed;
  -webkit-box-shadow: inset 0 1px 0 #e3e9ed;
  box-shadow: inset 0 1px 0 #e3e9ed;
}
.users.listView .search-field > input[type=search] {
  margin: 0;
  font-size: 16px;
  border-color: #a9acaf;
  width: 100%;
  background: #fff;
}
.login .forgot-password {
  text-align: center;
  font-size: 12px;
}
.please_login header {
  display: none !important;
}
.please_login > article {
  color: #404040;
  text-shadow: 0 1px #fff;
  text-align: center;
  background-image: url("images/connect-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% 100% !important;
  border-bottom: 4px solid #0b8886;
  padding-top: 18px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article {
    background-image: url("images/connect-bg@2x.jpg");
    background-size: auto auto;
  }
}
.please_login > article h1 {
  background: transparent;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  width: 163px;
  height: 78px;
  margin: 0px auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article h1 {
    background-image: url("images/logo@2x.png");
    background-size: 163px 78px;
  }
}
.please_login > article h2 {
  color: #cdc;
  font-weight: lighter;
  text-shadow: 0px 1px 3px #020202;
  font-size: 13px;
  margin: 15px 0 10px 0;
  text-transform: uppercase;
}
.please_login > article .signup,
.please_login > article .login {
  width: 238px;
  height: 46px;
  margin: 0;
}
.please_login > article .login {
  background-color: #dcdfe0;
  color: #8a9397;
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 10px;
}
.please_login > article .gmail {
  background: transparent;
  background-image: url("images/login-button.png");
  background-repeat: no-repeat;
  width: 238px;
  height: 46px;
  border: none;
  margin: 0 auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article .gmail {
    background-image: url("images/login-button@2x.png");
    background-size: 238px 94px;
  }
}
.please_login > article .gmail:hover,
.please_login > article .gmail:active {
  background-position: 0 -47px;
}
.please_login > article .gmail span {
  display: none;
}
.please_login > article .about {
  background: #e1e1e1;
  color: #404040;
  text-shadow: 0 1px #fff;
}
.please_login > article .about h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 0;
}
.please_login > article .about strong {
  color: #08777a;
}
.please_login > article .about > div {
  padding: 20px 30px;
}
.please_login > article .about .connect {
  text-align: center;
  background-image: url("images/connect-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% 334px !important;
  height: 273px;
  border-bottom: 4px solid #0b8886;
  padding-top: 25px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article .about .connect {
    background-image: url("images/connect-bg@2x.jpg");
    background-size: auto auto;
  }
}
.please_login > article .about .connect h1 {
  background: transparent;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  width: 163px;
  height: 78px;
  margin: 0px auto;
  text-indent: -9999px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article .about .connect h1 {
    background-image: url("images/logo@2x.png");
    background-size: 163px 78px;
  }
}
.please_login > article .about .connect h2 {
  color: #fff;
  font-weight: lighter;
  text-shadow: 0px 1px 3px #020202;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 5px;
}
.please_login > article .about .connect .desc {
  color: #001b1c;
  text-shadow: 0px 1px 2px #568b92;
  font-weight: normal;
  font-size: 12px;
  margin: 10px auto 0 auto;
  width: 200px;
}
.please_login > article .about .connect .signup,
.please_login > article .about .connect .signin {
  display: block;
  width: 238px;
  height: 46px;
  border: none;
  margin: 10px auto;
}
.please_login > article .about .connect .login-button {
  background: transparent;
  background-image: url("images/login-button.png");
  background-repeat: no-repeat;
  width: 238px;
  height: 46px;
  border: none;
  margin: 0 auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article .about .connect .login-button {
    background-image: url("images/login-button@2x.png");
    background-size: 238px 94px;
  }
}
.please_login > article .about .connect .login-button:hover,
.please_login > article .about .connect .login-button:active {
  background-position: 0 -47px;
}
.please_login > article .about .connect .login-button span {
  display: none;
}
.please_login > article .arrowdown,
.please_login > article .arrowup {
  width: 21px;
  height: 20px;
  background-image: url("images/arrowdown.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article .arrowdown,
  .please_login > article .arrowup {
    background-image: url("images/arrowdown@2x.png");
    background-size: 21px 20px;
  }
}
.please_login > article .arrowup {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.please_login > article .what-is .arrowdown {
  margin-bottom: 20px;
}
.please_login > article .how-works {
  background: #cac8c8;
}
.please_login > article .how-works ul {
  list-style: none;
  padding: 0;
}
.please_login > article .how-works li {
  padding: 5px 0;
  position: relative;
}
.please_login > article .secure .lock-wrapper {
  margin-top: 20px;
}
.please_login > article .start {
  background: #cac8c8;
}
.please_login > article .icon {
  width: 17px;
  height: 17px;
  display: inline-block;
  background-position: center;
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.please_login > article .icon-at {
  background-image: url("images/icon-at.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article .icon-at {
    background-image: url("images/icon-at@2x.png");
    background-size: 14px 14px;
  }
}
.please_login > article .icon-gmail {
  background-image: url("images/icon-gmail.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article .icon-gmail {
    background-image: url("images/icon-gmail@2x.png");
    background-size: 14px 14px;
  }
}
.please_login > article .icon-lock {
  background-image: url("images/icon-lock.png");
  background-repeat: no-repeat;
  float: left;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article .icon-lock {
    background-image: url("images/icon-lock@2x.png");
    background-size: 13px 15px;
  }
}
.please_login > article .icon-near {
  background-image: url("images/icon-near.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article .icon-near {
    background-image: url("images/icon-near@2x.png");
    background-size: 11px 15px;
  }
}
.please_login > article .icon-recently {
  background-image: url("images/icon-recently.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .please_login > article .icon-recently {
    background-image: url("images/icon-recently@2x.png");
    background-size: 17px 15px;
  }
}
.friends_list.empty > article {
  background: #e1e1e1;
  color: #404040;
  text-shadow: 0 1px #fff;
  text-align: center;
  line-height: 27px;
}
.friends_list.empty > article .steps {
  margin: 0 auto;
}
.friends_list.empty > article .bullet {
  width: 30px;
  height: 30px;
  background: #067879;
  color: #fff;
  float: left;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-right: 10px;
}
.friends_list.empty > article .text-wrapper {
  overflow: auto;
  width: 250px;
  margin: 0 auto;
}
.friends_list.empty > article .text {
  float: left;
  text-align: left;
  max-width: 210px;
}
.friends_list.empty > article .icon {
  background: url("images/tabbar-icons.png");
  background-size: 90px 60px;
  width: 30px;
  height: 30px;
  margin: 30px auto 10px;
  clear: left;
}
.friends_list.empty > article .icon.explore {
  background-position: 0 0 !important;
}
.friends_list.empty > article .icon.contacts {
  background-position: -30px 0 !important;
}
