body,
html {
  height: 100%;
}
.viewport {
  position: relative;
}
.viewport > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.viewport > *:not(.active) {
  display: none;
}
body.stage > header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
body.stage > article {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body.stage > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.panel {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}
.panel > article {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.panel:not(.active) {
  display: none;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  overflow-x: hidden;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0.00);
}
body.stage > header {
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.30)), color-stop(0.5, rgba(255,255,255,0.10)), color-stop(0.5, rgba(255,255,255,0.00))), -webkit-gradient(linear, left top, left bottom, from(#7189a6), to(#6a83a1));
}
body.stage > article {
  bottom: 49px;
}
body.stage > footer {
  background: -webkit-linear-gradient(top, #1c1c1c 0%, #1c1c1c 2%, #575757 2%, #303030 5%, #141414 51%, #000 51%, #000 100%);
}
body.stage > footer {
  height: 49px;
  -webkit-box-pack: justify;
  display: -webkit-box;
}
body.stage > footer .nav-item {
  margin-top: 3px;
  -webkit-box-flex: 1;
  color: #999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
body.stage > footer .nav-item .nav-label {
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}
body.stage > footer .nav-item .icon {
  display: block;
  width: 100%;
  height: 30px;
  -webkit-mask-image: url("http://code.pb.io/ios-css/images/tabbar-icon-flower.png?1313489953");
  -webkit-mask-size: 30px 30px;
  -webkit-mask-position: 50% 0%;
  -webkit-mask-repeat: no-repeat;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.30) 25%, rgba(255,255,255,0.00) 75%);
}
body.stage > footer .active.nav-item {
  color: #fff;
  background: rgba(255,255,255,0.13);
}
body.stage > footer .active.nav-item .icon {
  background-image: -webkit-linear-gradient(276deg, #fff 0%, #7db9ee 52%, rgba(125,185,238,0.00) 52%), -webkit-linear-gradient(top, #0429e4 0%, #40cefb 100%);
}
.panel > header {
  height: 40px;
  line-height: 40px;
}
.panel > header h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fffeff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.50);
  font-weight: normal;
}
.panel > header button {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.50);
  font-size: 13px;
  font-weight: 700;
  background-repeat: repeat-x;
  background-color: #4a6c9b;
/*change this and the background color for the :before element*/
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 50%, rgba(255,255,255,0.10) 50%, rgba(255,255,255,0.30) 100%);
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.30), inset 0 1px 1px 0 rgba(0,0,0,0.60), 0 1px 0 rgba(255,255,255,0.40);
  margin: 7px;
  padding: 5px 12px;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.panel > header button:active {
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.30), inset 0 1px 1px 0 rgba(0,0,0,0.60), 0 1px 0 rgba(255,255,255,0.40), inset 0 0 20px rgba(255,255,255,0.20);
}
.panel > header button.right {
  left: auto;
  right: 0;
}
.panel > header button.disabled {
  opacity: 0.7;
}
.panel > header button.blue {
  background-color: #325fd1;
}
.panel > header button.back {
  left: 5px;
/*change the position*/
  position: absolute;
  height: 30px;
  padding: 0 10px 0 8px;
  z-index: 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-top-left-radius: 10px 15px;
  -webkit-border-bottom-left-radius: 10px 15px;
  border-bottom: 1px solid rgba(255,255,255,0.30);
  -moz-box-shadow: -1px -1px 0px rgba(0,0,0,0.20) inset, 0 1px 2px rgba(0,0,0,0.80) inset;
  -webkit-box-shadow: -1px -1px 0px rgba(0,0,0,0.20) inset, 0 1px 2px rgba(0,0,0,0.80) inset;
  box-shadow: -1px -1px 0px rgba(0,0,0,0.20) inset, 0 1px 2px rgba(0,0,0,0.80) inset;
  font-size: 11px;
  display: block;
  text-align: center;
  color: #fff;
  line-height: 30px;
  -webkit-background-size: 30px;
}
.panel > header button.back:before {
  position: absolute;
  top: 9.9%;
  left: -5px;
  -webkit-background-size: 22px 22px;
  background-position: -2px -1.5px;
  background-color: #4a6c9b;
/*change to the same as the main element*/
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0,0,0,0.00)), color-stop(0.5, rgba(0,0,0,0.00)), color-stop(0.5, rgba(255,255,255,0.10)), to(rgba(255,255,255,0.30)));
  height: 25px;
  width: 25px;
  -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
  -webkit-border-top-right-radius: 100px 40px;
  -webkit-border-top-left-radius: 30px 2px;
  -webkit-border-bottom-right-radius: 2px 30px;
  -webkit-border-bottom-left-radius: 40px 100px;
  z-index: 1;
  content: ' ';
  border-left: 1.5px solid rgba(255,255,255,0.30);
  -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.20) inset, -1px 1px 1px rgba(0,0,0,0.50) inset;
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.20) inset, -1px 1px 1px rgba(0,0,0,0.50) inset;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.20) inset, -1px 1px 1px rgba(0,0,0,0.50) inset;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000), color-stop(0.33, #000), color-stop(0.5, transparent), to(transparent));
}
.button {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.50);
  font-size: 13px;
  font-weight: 700;
  background-repeat: repeat-x;
  background-color: #4a6c9b;
/*change this and the background color for the :before element*/
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 50%, rgba(255,255,255,0.10) 50%, rgba(255,255,255,0.30) 100%);
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.30), inset 0 1px 1px 0 rgba(0,0,0,0.60), 0 1px 0 rgba(255,255,255,0.40);
  margin: 7px;
  padding: 5px 12px;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.button:active {
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.30), inset 0 1px 1px 0 rgba(0,0,0,0.60), 0 1px 0 rgba(255,255,255,0.40), inset 0 0 20px rgba(255,255,255,0.20);
}
.button.right {
  left: auto;
  right: 0;
}
.button.disabled {
  opacity: 0.7;
}
.button.blue {
  background-color: #325fd1;
}
.button.back {
  left: 5px;
/*change the position*/
  position: absolute;
  height: 30px;
  padding: 0 10px 0 8px;
  z-index: 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-top-left-radius: 10px 15px;
  -webkit-border-bottom-left-radius: 10px 15px;
  border-bottom: 1px solid rgba(255,255,255,0.30);
  -moz-box-shadow: -1px -1px 0px rgba(0,0,0,0.20) inset, 0 1px 2px rgba(0,0,0,0.80) inset;
  -webkit-box-shadow: -1px -1px 0px rgba(0,0,0,0.20) inset, 0 1px 2px rgba(0,0,0,0.80) inset;
  box-shadow: -1px -1px 0px rgba(0,0,0,0.20) inset, 0 1px 2px rgba(0,0,0,0.80) inset;
  font-size: 11px;
  display: block;
  text-align: center;
  color: #fff;
  line-height: 30px;
  -webkit-background-size: 30px;
}
.button.back:before {
  position: absolute;
  top: 9.9%;
  left: -5px;
  -webkit-background-size: 22px 22px;
  background-position: -2px -1.5px;
  background-color: #4a6c9b;
/*change to the same as the main element*/
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0,0,0,0.00)), color-stop(0.5, rgba(0,0,0,0.00)), color-stop(0.5, rgba(255,255,255,0.10)), to(rgba(255,255,255,0.30)));
  height: 25px;
  width: 25px;
  -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
  -webkit-border-top-right-radius: 100px 40px;
  -webkit-border-top-left-radius: 30px 2px;
  -webkit-border-bottom-right-radius: 2px 30px;
  -webkit-border-bottom-left-radius: 40px 100px;
  z-index: 1;
  content: ' ';
  border-left: 1.5px solid rgba(255,255,255,0.30);
  -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.20) inset, -1px 1px 1px rgba(0,0,0,0.50) inset;
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.20) inset, -1px 1px 1px rgba(0,0,0,0.50) inset;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.20) inset, -1px 1px 1px rgba(0,0,0,0.50) inset;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000), color-stop(0.33, #000), color-stop(0.5, transparent), to(transparent));
}
.list .item {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #989ea4;
  color: #292d39;
  text-shadow: 0 1px 0 #fff;
  background: #f6f6f7;
}
.list .item img {
  float: right;
  max-width: 30px;
  max-height: 30px;
  display: inline-block;
  margin: 10px 0;
}
.list .item:active {
  background: #f6f6f7;
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.10);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.10);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.10);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.10);
}
form {
  margin: 10px;
}
label {
  display: block;
  border-bottom: 1px solid #aeaeae;
  font-size: 13px;
  padding: 15px;
}
label:last-child {
  border-bottom: none;
}
label span::after {
  content: ':';
}
select,
input {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 5px 0 0 0;
  border: none;
  background: transparent;
}
.hide {
  display: none;
}
#loading {
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.30)), color-stop(0.5, rgba(255,255,255,0.10)), color-stop(0.5, rgba(255,255,255,0.00))), -webkit-gradient(linear, left top, left bottom, from(#7189a6), to(#6a83a1));
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fffeff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.50);
  font-weight: normal;
  line-height: 38px;
  position: fixed;
  top: -40px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  z-index: 100;
}
#loading.loading {
  opacity: 1;
  top: 0;
}
.thumb {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.list-group {
  margin: 5px 0;
  text-shadow: 0 1px 0 rgba(255,255,255,0.50);
}
.list-group .list-item {
  background: #f6f6f7;
  margin: 0 12px 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #a9acaf;
  font-size: 14px;
}
.list-group .list-item:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.list-group .list-item:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.list-group .list-item.transparent {
  border: none;
  background: transparent;
}
.list-group .list-item.transparent .list-data,
.list-group .list-item.transparent .list-label {
  line-height: inherit;
}
.list-group .list-item .list-label {
  min-height: 45px;
  line-height: 45px;
  display: inline-block;
  font-size: 13px;
  color: #516691;
  font-weight: normal;
  width: 75px;
  padding-right: 10px;
  text-align: right;
}
.list-group .list-item .list-data {
  display: inline-block;
  min-height: 45px;
  line-height: 45px;
}
.list-group .list-item .list-data a {
  text-decoration: none;
  color: inherit;
}
.showView h2,
.showView p {
  margin: 0;
}
.showView .thumb-list.list-group .list-label {
  text-align: left;
  display: inline-block;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px 0 10px;
  width: 63px;
  vertical-align: top;
}
.showView .thumb-list.list-group .list-label .thumb {
  border: 1px solid #999;
}
.showView .thumb-list.list-group .list-data {
  font-weight: normal;
  display: inline-block;
  width: 170px;
  font-size: 14px;
  font-weight: bold;
}
.showView.panel > article,
.editView > article {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(71.429%, #c5ccd4), color-stop(71.429%, #cbd2d8), color-stop(100%, #cbd2d8));
  background-size: 7px 512px;
}
.editView .list-label {
  border-right: 1px solid;
}
.editView .thumb-list.list-group .list-label {
  border-right: none;
}
input:invalid {
  background: #ffc0cb url("images/ico_validation.png") right 3px no-repeat;
}
input:required:valid {
  background-color: #fff;
  background-position: 379px -61px;
}
.users.list h3 {
  background: #8d9daa;
  border-top: 1px solid #717d85;
  background: #92a0ab;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92a0ab), color-stop(100%, #b6bec5));
  background: -webkit-linear-gradient(top, #92a0ab 0%, #b6bec5 100%);
  background: linear-gradient(to bottom, #92a0ab 0%, #b6bec5 100%);
  -moz-box-shadow: inset 0 1px 0 #a1adb6;
  -webkit-box-shadow: inset 0 1px 0 #a1adb6;
  box-shadow: inset 0 1px 0 #a1adb6;
  text-shadow: 0 1px 1px rgba(100,100,100,0.80);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 4px 12px;
}
.users.list .item .details>div {
  float: left;
  height: 50px;
  line-height: 50px;
}
.users.list .item .name {
  padding-left: 10px;
  font-weight: normal;
}
.users.list .item .status {
  font-size: 10px;
  float: right;
}
.users.list .item .actions {
  float: right;
}
.users.listView .search-field {
  padding: 5px;
  background: #d6dde2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d6dde2), color-stop(100%, #b1bbc3));
  background: -webkit-linear-gradient(top, #d6dde2 0%, #b1bbc3 100%);
  background: linear-gradient(to bottom, #d6dde2 0%, #b1bbc3 100%);
  -moz-box-shadow: inset 0 1px 0 #e3e9ed;
  -webkit-box-shadow: inset 0 1px 0 #e3e9ed;
  box-shadow: inset 0 1px 0 #e3e9ed;
}
.users.listView .search-field > input[type=search] {
  margin: 0;
  font-size: 16px;
}
